#basket_box{
    border-style: solid;
    border-color: lightgrey;
    border-radius: 10px;
    width: 38%;
    margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rest-title, #taken-title, .rest, .taken{
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 2px;
    padding: 10px;
}

#rest-title, #taken-title{
    font-weight: bold;
}

.rest{
    display:flex;
    align-items:center;
}

.left_product_name{
    position: relative;
    margin-right: 5px;
    text-align: left;
    background-color: lightgray;
    padding: 6px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.left_product_number{
    background-color: darkorange;
    color: white;
    padding: 4px;
    border-radius: 10px;
}