.box-for-selection, .box-for-statistics{
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.box-for-selection{
    background-color: lightblue;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    margin: left;
    left: 13px;
    right: 13px;
    height: 200px;
    width: 55%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 3%;
}

.box-for-statistics{
    background-color: lightblue;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    margin: right;
    right: 13px;
    left: 13px;
    height: 200px;
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 3%;
}

.badge{
  background-color: purple;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 500px){
    .box-for-selection, .box-for-statistics{
      float: none;
      width: 100%;
      margin: 0px;
    }
}
